@page "/boards"
@using trello_clone.Shared.Classes
@inject HttpClient Http


<PageTitle>Boards</PageTitle>

<h1>Boards</h1>

<EditForm class="form-check-inline my-2" Model="newBoardName" OnValidSubmit="() => AddBoard(newBoardName)">
    <InputText class="form-control mx-2" @bind-Value="newBoardName" />
    <button class="btn btn-outline-primary" type="submit">Add Board</button>
</EditForm>

<body>
    @if (boards == null)
    {
        <p><em>... loading</em></p>
    }
    else
    {
        @foreach (var board in boards)
        {
            <p>@board.Name</p>
        }
    
    }
</body>

@code {
    private IEnumerable<Board>? boards;
    private string newBoardName = "";

    protected override async Task OnInitializedAsync()
    {
        await GetBoards();
    }

    private async Task GetBoards()
    {
        boards = await Http.GetFromJsonAsync<Board[]>("Boards/List");
    }

    private async Task AddBoard(string boardName)
    {
        await Http.GetAsync($"Boards/Addboard/{boardName}");
        await GetBoards();
    }
}
