@page "/Calander"

@using trello_clone.Shared.Classes

<h1>Blazor Calendar</h1>

<select @onchange="LoadCalendar">
    @foreach (string monthName in monthNames)
    {
        <option>@monthName</option>
    }
</select>
@code{
    List<string> monthNames = new List<string>();
    List<string> days = new List<string>();
    List<Weekclass> weeks = new List<Weekclass>();
    DateTime startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month,1);
    DateTime endDate = (new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)).AddMonths(1).AddDays(-1);

    protected override void OnInitialized()
    {
        monthNames = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthGenitiveNames.ToList();

    }
    private void LoadCalendar(ChangeEventArgs e)
    {
        var month = e.Value.ToString();
    }

}
