@page "/"
@using trello_clone.Shared
@using trello_clone.Shared.Classes
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@inject HttpClient Http
@inject StateContainer stateContainer
@inject ISnackbar Snackbar
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using trello_clone.Shared.Classes

@*<select @onchange="LoadCalendar">
    @foreach (string monthName in monthNames)
    {
        <option>@monthName</option>
    }
</select>*@
@code{
    //List<string> monthNames = new List<string>();
    //List<string> days = new List<string>();
    //List<Weekclass> weeks = new List<Weekclass>();
    //DateTime startDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month,1);
    //DateTime endDate = (new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1)).AddMonths(1).AddDays(-1);

    
    //private void LoadCalendar(ChangeEventArgs e)
    //{
    //    var month = e.Value.ToString();
    //}
   
    protected override async Task OnInitializedAsync()
    {
        stateContainer.LoggedInUser = await localStorage.GetItemAsync<User>("1");
        if (stateContainer.isCompleted) return;
        if (stateContainer.LoggedInUser is not null)
        {
            Snackbar.Add("Found previous login, welcome back!", Severity.Success);
            stateContainer.isCompleted = true;
        }
    }