@using Microsoft.AspNetCore.Components
@using trello_clone.Shared
@using trello_clone.Shared.Classes
@implements IDisposable
@inject StateContainer StateContainer

<style>
    .task-container {
        display: flex;
        flex-direction: column;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 20%;
        width: 80%;
    }
</style>

<div class="task-container">
    <h3>@TaskCard.Name</h3>
    <p>Assigned Person</p>
    <p>Date Created: @TaskCard.DateCreated</p>
    <p>Last Modified: @TaskCard.LastModified</p>
</div>

@code {
    [Parameter]
    public TaskCard TaskCard { get; set; }

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;


    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
