<li class="draggable" draggable="true" title="@TaskModel.Description" @ondragstart="@(() => HandleDragStart(TaskModel))">
    <p class="description">@TaskModel.Description</p>
    <p class="last-updated"><small>Last Updated</small> @TaskModel.LastUpdated.ToString("HH:mm.ss tt")</p>
</li>
@code {
    [CascadingParameter] TasksContainer Container { get; set; }
    [Parameter] public Classes.TaskModel TaskModel { get; set; }

    private void HandleDragStart(Classes.TaskModel selectedJob)
    {
        Container.Payload = selectedJob;
    }
}
